.bootstrap-tagsinput {
    border: 1px solid;
    width: 100%;
}
.hr-dotted {
    border-top: 2px dotted;
}

/*-------drop zone------*/

.dropzone
{
    position: relative;

    display: flex;
    flex-direction: column;
}

.dz-message
{
    z-index: 999;
    padding: 5rem 1rem;
    cursor: pointer;
    transition: all .15s ease;
    text-align: center;
    color: #8898aa;
    border: 1px dashed #dee2e6;
    border-radius: .375rem;
    background-color: #fff;

    order: -1;
}
.dz-message:hover
{
    color: #525f7f;
    border-color: #8898aa;
}

.dz-drag-hover .dz-message
{
    color: #17408B;
    border-color: #17408B;
}

.dropzone-multiple .dz-message
{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.dropzone-single.dz-max-files-reached .dz-message
{
    opacity: 0;
    color: white;
    background-color: rgba(0, 0, 0, .9);
}
.dropzone-single.dz-max-files-reached .dz-message:hover
{
    opacity: 1;
}

.dz-preview-single
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border-radius: .375rem;
}

.dz-preview-cover
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border-radius: .375rem;
}

.dz-preview-img
{
    width: 100%;
    height: 100%;

    border-radius: .375rem;

    -o-object-fit: cover;
       object-fit: cover;
}

.dz-preview-multiple .list-group-item:last-child
{
    padding-bottom: 0;

    border-bottom: 0;
}

[data-dz-size] strong
{
    font-weight: 400;
}

.dz-preview.list-group {
    display: block;
}
.dz-preview.list-group-flush .list-group-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.dz-preview.list-group-flush .list-group-item {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 0 5px;
}

/*-------detail page------*/
.bootstrap-tagsinput {
    border: 1px solid;
    width: 100%;
}
.hr-dotted {
    border-top: 2px dotted;
}
.tuto-items-container .alert-text-right {
    position: absolute;
    right: 10px;
    top: 12px;
}
.tuto-items-container .alert {
    padding: 0.5rem 1rem;
}
.tuto-items-container .alert .fa-check-circle {
    color: #74af5c;
}
.tuto-items-container .alert ul {
    list-style: none;
    padding-left: 2.75rem;
}
.carousel-thumbnails-bottom .carousel-indicators {
    position: static;
    display: block;
    padding: 0;
    margin: 10px 0 0 0;
}
.carousel-thumbnails-bottom .carousel-item {
    border: 1px solid #ccc;
    text-align: center;
    background: #f9f9f9;
}
.carousel-thumbnails-bottom .carousel-item img {
    height: 415px;
    width: auto;
    border: 1px solid #ddd;
    background: #f9f9f9;
    margin: 0 auto;
    max-width: 100%;
    object-fit: cover;
}
.carousel-thumbnails-bottom .carousel-item audio {
    height: 415px;
    width: 100%;
    border: 1px solid #ddd;
    background: #f9f9f9;
    margin: 0 auto;
    max-width: 100%;
    object-fit: cover;
}
.carousel-thumbnails-bottom .carousel-indicators li {
    width: 15%;
    display: inline-block;
    height: 50px;
    padding: 0;
    margin: 0;
    border: 0;
}
.carousel-thumbnails-bottom .carousel-indicators li img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.carousel-thumbnails-bottom .carousel-indicators li audio {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.tabbing ul.tab-nav {
    padding: 0;
    margin: 0;
    list-style: none;
}
.tabbing ul.tab-nav li {
    background-color: #f8fbfc;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
}
.tabbing .tab-content {
    background-color: #f8fbfc;
    padding: 20px;
    border-radius: 0 5px 5px 5px;
}
.hrContentMinor-2 {
    height: 0;
    font-size: 0;
    line-height: 0;
    margin: 20px 0;
    border: 0;
    border-bottom: 2px dotted #ddd;
}

.content_step_list .btn-danger {
    position: absolute;
    right: 8px;
    z-index: 999;
    top: -10px;
}
.dropzone {
    border: 0;
    padding: 0;
    display: block;
}
.dropzone.dz-started .dz-message {
    display: block;
}

.dropzone .dz-message {
    margin: 0;
}
.dropzone .dz-preview .dz-remove {
    margin-top: 10px;
}
.ribbon-wrapper {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: 12px;
}
.ribbon {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Montserrat Bold", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    letter-spacing: 0.05em;
    line-height: 15px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    right: -11px;
    top: 10px;
    width: 100px;
    height: 28px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: #dedede;
    background-image: -webkit-linear-gradient(top, #ffffff 45%, #dedede 100%);
    background-image: -o-linear-gradient(top, #ffffff 45%, #dedede 100%);
    background-image: linear-gradient(to bottom, #ffffff 45%, #dedede 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffdedede', GradientType=0);
}

.ribbon:before,
.ribbon:after {
    content: "";
    border-top: 3px solid #9e9e9e;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px;
}

.dropzone.dropzone-single {
    display: flex;
    margin: 0;
}
.dropzone.dropzone-single .dz-preview {
    position: absolute;
    margin: 0;
}

.dropzone-saved-img {
    height: 120px;
    width: 120px;
}
.ribbon:before {
    left: 0;
}

.ribbon:after {
    right: 0;
}
.ribbon.red {
    background-color: #bc1a3a;
    background-image: -webkit-linear-gradient(top, #a61733 45%, #bc1a3a 100%);
    background-image: -o-linear-gradient(top, #a61733 45%, #bc1a3a 100%);
    background-image: linear-gradient(to bottom, #a61733 45%, #bc1a3a 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffa61733', endColorstr='#ffbc1a3a', GradientType=0);
}

.ribbon.red:before,
.ribbon.red:after {
    border-top: 3px solid #8f142c;
}

.card.custom_card {
    height: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.custom_card .card-body {
    padding-bottom: 2.5rem;
}
.custom_card .card-img-top {
    height: 250px;
    object-fit: cover;
}

.main-logo {
    width: 100%;
    text-align: center;
}
.footer .container-fluid {
    padding-right: 30px;
    padding-left: 40px;
}

.card.custom_card_front {
    height: 100%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.custom_card_front .card-body {
    padding-bottom: 1rem;
}
.custom_card_front .card-img-top {
    height: 250px;
    object-fit: cover;
}


.content-listing-loader {
    margin-bottom: 10px;
    color: #fff;
    font-size: 25px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #000;
    width: 100%;
    z-index: 9;
    opacity: 0.6;
    text-align: center;
    padding-top: 30%;
}


.comments-listing-loader {
    color: #fff;
    font-size: 25px;
    height: 450px;
    background-color: #000;
    width: 100% !important;
    z-index: 9;
    opacity: 0.6;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
}

.carousel-item.step-item-video {
    height: 415px !important;
}

.carousel-item.step-item-video iframe {
    height: 100%;
    width: 100%;
}



.custom-hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.custom-switch-lable {
    padding: 0.625rem 0;
}
.drawing_wrapper {
    overflow: auto;
}

/** Custom Css **/
.bootstrap-tagsinput{
	width: 100%!important;
	height: 45px !important;
	box-shadow: inherit!important;
	border-radius: 30px!important;
	border: 1px solid #dbdbdb!important;
	background: #fafafa!important;
	font-size: 16px!important;
	color: rgba(14,9,65,1.00)!important;
	font-weight: 500!important;
	padding: 8px 15px!important;
	letter-spacing: 0.2px!important;
  }

/*============= Dashboard - Side Menu : START =============*/

.dashboard-side-menu {
	text-align: right;
	border-top: 1px solid #FFF;
	line-height: 46px;
}
.dashboard-side-menu ul {
}
.dashboard-side-menu ul li {
	display: block;
	width: 100%;
}
.dashboard-side-menu ul li a.active {
	background: #16408a;
	color: #FFF;
}
.dashboard-side-menu ul li a {
	text-transform: uppercase;
	font-size: 11px;
	color: #000;
	background: #DDD;
	padding: 10px 20px;
	text-align: center;
	float: left;
	width: 100%;
}
.dashboard-side-menu ul li a:hover {
	background: #c7092a;
	color: #FFF;
}

.dashboard-side-menu ul li a i {
	margin-left: 3px;
}

.default-btn
{
	text-transform: uppercase;
    font-size: 12px;
    color: #FFF;
    background: #16408a;
    border-radius: 30px;
    padding: 10px 20px;
	cursor: pointer;
	font-weight: 400;
	border: none;
	min-width: 100px;
	text-align: center;
}
.default-btn:hover,.default-btn:active{
	background: #c7092a !important;
	color: #FFF !important;
}
.default-btn:not(:hover){
	color: #FFF !important;
}

.pull-left{
	float: left!important;
}
.content-title
{
	color: #000;
	font-size: 16px;
	font-weight: bold;
}
.content-title:hover{
	color: #c7092a !important;
}
.font-12
{
	font-size: 12px;
}
/*============= Dashboard - Side Menu : END =============*/

/* Select 2 Custom CSS  : START */
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 25px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 50px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 40px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 16px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 50px;
    user-select: none;
    -webkit-user-select: none;
/* Select 2 Custom CSS  : END */

@media (min-width: 1200px) {
    .sidenav {
        max-width: 260px !important;
    }
    .sidenav + .main-content {
        margin-left: 260px !important;
    }
    .g-sidenav-pinned .sidenav {
        max-width: 260px !important;
    }

    .g-sidenav-pinned .sidenav.fixed-left + .main-content {
        margin-left: 260px !important;
    }
    .g-sidenav-hidden:not(.g-sidenav-show)
        .sidenav
        .navbar-nav
        > .nav-item
        > .nav-link[data-toggle="collapse"]:after,
    .g-sidenav-hide:not(.g-sidenav-show)
        .sidenav
        .navbar-nav
        > .nav-item
        > .nav-link[data-toggle="collapse"]:after {
        content: "\f105";
    }
    .g-sidenav-hidden:not(.g-sidenav-show) .sidenav .nav-link-text,
    .g-sidenav-hide:not(.g-sidenav-show) .sidenav .nav-link-text,
    .sidenav .navbar-brand,
    .sidenav .navbar-heading {
        display: block !important;
    }
}

@media (max-width: 1199px) {
    .footer {
        padding-left: 0 !important;
    }
}
@media (max-width: 992px) {
    .footer {
        padding: 1.5rem 0 !important;
    }
}

@media (max-width: 480px) {
    body {
        padding-bottom: 156px;
    }
}

@media (max-width: 768px) {
    .carousel-thumbnails-bottom .carousel-item img {
        height: 270px;
    }
    .carousel-thumbnails-bottom .carousel-item audio {
        height: 270px;
    }
}