@import url('fonts.css');
/*
font-family: 'Helvetica LT Std';
*/

body {
	font-family: 'Helvetica LT Std';
	color: #000;
	line-height: 22px;
	padding: 0 !important;
	background: #FFF;
	font-size: 14px;
}
html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	min-width: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
}
html, body {
	overflow-x: hidden;
}
::selection {
	background: #ca082a;
	color: #FFF;
	text-shadow: none;
}

::-moz-selection {
 background: #ca082a; /* Firefox */
 color: #FFF;
 text-shadow: none;
}

::-webkit-selection {
 background: #ca082a; /* Safari */
 color: #FFF;
 text-shadow: none;
}
a, .btn, img, button, .form-control, .CategoryBox h3 {
	text-decoration: none;
	-webkit-transition: 1s ease all;
	-o-transition: 1s ease all;
	-moz-transition: 1s ease all;
	-ms-transition: 1s ease all;
	transition: 1s ease all;
}
a {
	color: #16408a;
}
a:hover, a:active, a:focus {
	text-decoration: none;
	color: #ca082a;
	outline: none;
}
:focus {
	outline: -webkit-focus-ring-color auto 0;
}
/*=============== Start Form ===============*/
.form-control {
	width: 100%;
	height: 50px !important;
	box-shadow: inherit;
	border-radius: 30px;
	border: 1px solid #dbdbdb;
	background: #fafafa;
	font-size: 16px;
	color: rgba(14,9,65,1.00);
	font-weight: 500;
	padding: 10px 15px;
	letter-spacing: 0.2px;
}
textarea.form-control {
    height: inherit !important;
    padding: 12px 16px;
}
.form-control:focus {
	-webkit-box-shadow: inherit;
	box-shadow: inherit;
	background: #FFF;
	border: 1px solid #ca082a;
}
.form-control::placeholder {
 color: #16408a;
 opacity: 1;
}
 .form-control:-ms-input-placeholder {
 color: #16408a;
}
 .form-control::-ms-input-placeholder {
 color: #16408a;
}
.control-label {
	font-size: 16px;
	color: #000;
	margin-bottom: 10px;
	font-weight: normal;
}
 input.form-control:-internal-autofill-selected {
 background-color: inherit !important;
}
.form-group {
	margin-bottom: 20px;
}
sup {
	color: #eb0909;
}
.select-wrapper select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}
.select-wrapper {
	position: relative;
}
.select-wrapper:after {
	font-family: 'Font Awesome 5 Pro';
	content: '\f107';
	font-weight: 400;
	font-size: 22px;
	position: absolute;
	top: 12px;
	right: 15px;
	color: #777;
	pointer-events: none;
}
 select::-ms-expand {
 display: none;
}
.span_pseudo, .chiller_cb span:before, .chiller_cb span:after {
	content: "";
	display: inline-block;
	background: #fff;
	width: 0;
	height: 0.2rem;
	position: absolute;
	transform-origin: 0% 0%;
}
.input-group-addon {
	background: #FFF;
	border: 0;
	border-radius: 0;
}
.chiller_cb {
	position: relative;
	height: 2rem;
	display: flex;
	align-items: center;
}
.chiller_cb input {
	display: none;
}
.chiller_cb input:checked ~ span {
	background: #16408a;
	border-color: #16408a;
}
.chiller_cb input:checked ~ span:before {
	width: 13px;
	height: 3px;
	transition: width 0.1s;
	transition-delay: 0.3s;
}
.chiller_cb input:checked ~ span:after {
	width: 8px;
	height: 3px;
	transition: width 0.1s;
	transition-delay: 0.2s;
}
.chiller_cb input:disabled ~ span {
	background: #ececec;
	border-color: #dcdcdc;
}
.chiller_cb input:disabled ~ label {
	color: #dcdcdc;
}
.chiller_cb input:disabled ~ label:hover {
	cursor: default;
}
.chiller_cb label {
	padding-left: 30px;
	position: relative;
	z-index: 2;
	cursor: pointer;
	margin-bottom: 0;
}
.chiller_cb span {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid #DDD;
	position: absolute;
	left: 0;
	transition: all 0.2s;
	z-index: 1;
	box-sizing: content-box;
}
.chiller_cb span:before {
	transform: rotate(-55deg);
	top: 14px;
	left: 7px;
}
.chiller_cb span:after {
	transform: rotate(35deg);
	bottom: 8px;
	left: 4px;
}
.magic-radio-group {
	margin-top: 12px;
	margin-bottom: 25px;
}
.magic-radio-group label.control-label {
display: block;
}
.magic-radio-group span {
	display: inline-block;
	position: relative;
}
.magic-radio {
	position: absolute;
	display: none;
}
.magic-radio[disabled] {
	cursor: not-allowed;
}
.magic-radio + label {
	position: relative;
	display: block;
	padding-left: 38px;
	cursor: pointer;
	vertical-align: middle;
	margin: 0 20px 0 0;
	font-size: 15px;
	color: #16408a;
	line-height: 30px;
	font-weight: normal;
}
.magic-radio + label:hover:before {
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-name: hover-color;
}
.magic-radio + label:before {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 30px;
	height: 30px;
	content: '';
	border: 2px solid #16408a;
}
.magic-radio + label:after {
	position: absolute;
	display: none;
	content: '';
}
.magic-radio[disabled] + label {
	cursor: not-allowed;
	color: #e4e4e4;
}
.magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after {
	cursor: not-allowed;
}
.magic-radio[disabled] + label:hover:before {
	border: 1px solid #e4e4e4;
	animation-name: none;
}
.magic-radio[disabled] + label:before {
	border-color: #e4e4e4;
}
.magic-radio:checked + label:before {
	animation-name: none;
}
.magic-radio:checked + label:after {
	display: block;
}
.magic-radio + label:before {
	border-radius: 50%;
}
.magic-radio + label:after {
	top: 6px;
	left: 6px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #16408a;
}
.magic-radio:checked + label:before {
	border: 2px solid #16408a;
}
.magic-radio:checked[disabled] + label:before {
	border: 2px solid #FFF;
}
.magic-radio:checked[disabled] + label:after {
	background: #FFF;
}
/*=============== End Form ===============*/

img {
	max-width: 100%;
}
ul {
	list-style-type: none;
}
ol, ul {
	margin: 0px;
	padding: 0;
}
ul li, ol li {
	color: #343434;
	line-height: 1.8;
}
h1, h2, h3, h4, h5, h6 {
	color: #16408a;
	font-family: 'Helvetica LT Std';
	font-weight: bold;
}
h1 {
	font-size: 42px;
	font-weight: bold;
	margin: 0px 0 40px;
	line-height: 54px;
}
h2 {
	font-size: 42px;
	font-weight: 300;
	margin: 0px 0 30px;
	line-height: 54px;
	color: #FFF;
}
h3 {
	font-size: 30px;
	font-weight: 600;
	margin: 0px 0 40px;
}
h4 {
	font-size: 20px;
	font-weight: 600;
	margin: 0 0 20px;
	line-height: 28px;
}
p {
	font-size: 16px;
	color: #000;
	line-height: 24px;
	margin-bottom: 22px;
}
p + p:last-child, p:last-child {
	margin-bottom: 0;
}
strong {
	color: #777;
	font-weight: 700;
}
hr {
	margin-top: 40px;
	margin-bottom: 40px;
	border: none;
	height: 2px;
	width: 100%;
	background: #e5e5e5;
}
.spacer-10 {
	height: 10px;
	clear: both;
	width: 100%;
}
.spacer-15 {
	height: 15px;
	clear: both;
	width: 100%;
}
.spacer-20 {
	height: 30px;
	clear: both;
	width: 100%;
}
.spacer-30 {
	height: 30px;
	clear: both;
	width: 100%;
}
.spacer-40 {
	height: 40px;
	clear: both;
	width: 100%;
}
.spacer-50 {
	height: 50px;
	clear: both;
	width: 100%;
}
.spacer-60 {
	height: 60px;
	clear: both;
	width: 100%;
}
.spacer-100 {
	height: 100px;
	clear: both;
	width: 100%;
}
.spacer-120 {
	height: 120px;
	clear: both;
	width: 100%;
}
.mt60 {
	margin-top: 60px;
}
.mb60 {
	margin-bottom: 60px;
}
.mt10 {
	margin-top: 10px;
}
.mb10 {
	margin-bottom: 10px;
}
.ml10 {
	margin-left: 10px;
}
.mr10 {
	margin-right: 10px;
}
.mt20 {
	margin-top: 20px;
}
.mb20 {
	margin-bottom: 20px;
}
.ml20 {
	margin-left: 20px;
}
.mr20 {
	margin-right: 20px;
}
.pt60 {
	padding-top: 60px;
}
.pb60 {
	padding-bottom: 60px;
}
.readMoreBtn{
	color: #ca082a;
}
.ratings_data{
	border: 1px solid #DDD;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.posted-date{
	color: #28B0E6;
	font-size: 14px;
	font-weight: bold;
}
.w100p
{
	width: 100%;
}
.disabled-wrap{
	pointer-events: none;
    opacity: 0.4;
}
.viewTimer{
	font-weight: bold;
}
.no-padding {
	padding: 0 !important;
}
section {
	padding: 0px;
}
.container, .container-fluid {
	position: relative;
}
.container-fluid {
	padding-left: 83px;
	padding-right: 83px;
}
.btn {
	padding: 10px 40px;
	margin-bottom: 0;
	font-size: 16px;
	line-height: 20px;
	border: none;
	border-radius: 3px;
	font-family: 'Helvetica LT Std';
}
.btn-sm
{
	padding: 5px 15px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 20px;
    border: none;
    border-radius: 3px;
    font-family: 'Helvetica LT Std';
}
.btn-xs {
    padding: 1px 10px;
    margin-bottom: 0;
    font-size: 10px;
    line-height: 20px;
    border: none;
    border-radius: 3px;
	font-family: 'Helvetica LT Std';
}
button:focus {
	outline: inherit;
	outline: inherit;
}
.btn-lg {
	padding: 18px 48px;
	font-size: 18px;
}
.btn-primary {
	color: #FFF;
	background: #ca082a;
}
.btn-primary:hover, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus, .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
	background: #16408a;
	outline: inherit;
	color: #FFF;
	border-radius: 30px;
}
.btn-warning {
	color: #fff;
	background: #16408a;
	border-radius: 30px;
}
.btn-warning:hover, .btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.active:hover, .btn-warning:active.focus, .btn-warning:active:focus, .btn-warning:active:hover, .open>.dropdown-toggle.btn-warning.focus, .open>.dropdown-toggle.btn-warning:focus, .open>.dropdown-toggle.btn-warning:hover, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus, .btn-warning.active, .btn-warning:active, .open>.dropdown-toggle.btn-warning {
	background: #ca082a;
	color: #FFF;
	border-radius: 30px;
}
.btn-default {
	color: #ca082a;
	background: #FFF;
	letter-spacing: 1.5px;
}
.btn-default:hover, .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus, .btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
	background: #16408a;
	outline: inherit;
	color: #FFF;
	border-radius: 30px;
}
.btn-secondary {
	color: #fff;
	background: #16408a;
}
.btn-secondary:hover, .btn-secondary.active.focus, .btn-secondary.active:focus, .btn-secondary.active:hover, .btn-secondary:active.focus, .btn-secondary:active:focus, .btn-secondary:active:hover, .open>.dropdown-toggle.btn-secondary.focus, .open>.dropdown-toggle.btn-secondary:focus, .open>.dropdown-toggle.btn-secondary:hover, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus, .btn-secondary.active, .btn-secondary:active, .open>.dropdown-toggle.btn-secondary {
	background: #ca082a;
	color: #FFF;
}
.rounded-30 {
	border-radius: 30px;
}
.width100 {
	width: 100%;
	display: block;
}
/*========== Header ==========*/

.header-contact {
	position: relative;
	z-index: 11;
	width: 100%;
	background: #ccc;
}
#header {
	position: relative;
}
#header .navbar-brand {
	height: inherit;
	padding: 0;
	float: none;
	margin: 0;
}
#header .navbar-default {
	background-image: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
	border: none;
}
#header .navbar {
	min-height: inherit;
	margin-bottom: 0;
}
#header .navbar-nav > li > a {
	font-size: 16px;
	font-weight: 400;
	color: #000;
}
#header .navbar-default .navbar-nav > li > a {
	color: #404040;
	padding: 0px 15px;
	border-right: 1px solid #858585;
}
#header .navbar-default .navbar-nav > li:hover > a {
	color: #fff;
}
#header .navbar-default .navbar-nav > li:last-child > a {
	border-right: 0;
}
.site-header {
	position: relative;
	z-index: 999;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	-moz-transition-duration: .5s;
	-webkit-transition-duration: .2s;
	-o-transition-duration: .2s;
	transition-duration: .2s;
	background: #ccc;
	padding: 19px 0;
}
.site-header .logo {
	margin-top: 0;
	margin-bottom: 0;
}
.site-header.sticky .logo {
	margin-top: 0;
	margin-bottom: 0;
}
/*sticky header*/
.site-header.sticky {
	background: #FFF;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
	top: 0;
	z-index: 999;
	position: fixed;
	-webkit-animation-name: animationFade;
	-o-animation-name: animationFade;
	animation-name: animationFade;
	-webkit-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	width: 100%;
	margin: 0;
	padding: 5px 0;
}
@-webkit-keyframes animationFade {
 from {
 opacity: 0;
 -webkit-transform: translate3d(0, -100%, 0);
 transform: translate3d(0, -100%, 0);
}
 to {
 opacity: 1;
 -webkit-transform: none;
 transform: none;
}
}
@-o-keyframes animationFade {
 from {
 opacity: 0;
 -webkit-transform: translate3d(0, -100%, 0);
 transform: translate3d(0, -100%, 0);
}
 to {
 opacity: 1;
 -webkit-transform: none;
 -o-transform: none;
 transform: none;
}
}
@keyframes animationFade {
 from {
 opacity: 0;
 -webkit-transform: translate3d(0, -100%, 0);
 transform: translate3d(0, -100%, 0);
}
 to {
 opacity: 1;
 -webkit-transform: none;
 -o-transform: none;
 transform: none;
}
}
.site-header .logo img {
	height: 83px;
}
.site-header.sticky .logo img {
	height: 60px;
}
.site-header.sticky div.menu-toggle {
	margin-top: 24px;
}
.site-header.sticky div.menu-toggle .bar, .site-header.sticky div.menu-toggle .bar.topbar:before, .site-header.sticky div.menu-toggle .bar.middlebar:before, .site-header.sticky div.menu-toggle .bar.lastbar:before {
	background: #16408a;
}
.stellarnav ul li.bg {
	display: inline-block;
	margin: 0;
}
.bg.hover-bg:hover a, .bg.hover-bg.active a {
	color: #ca082a;
}
.hover-bg.has-sub:hover ul li a {
	color: #FFF;
}
.hover-bg:before {
/*content: "";
	position: absolute;
	display: block;
	top: 13px;
	left: -23px;
	background: #1b222d;
	width: 4px;
	height: 4px;
	border-radius: 50%;*/
}
.stellarnav ul li.bg:nth-child(2):before, .stellarnav ul li.bg-btn:before {
	display: none;
}
.stellarnav.dark li.hover-bg a {
	padding: 6px 15px;
	line-height: 28px;
}
.sticky .stellarnav.dark li.hover-bg a {
}
.stellarnav.dark li.has-sub a {
	padding-right: 40px;
}
.stellarnav.dark li.hover-bg ul li a, .stellarnav.dark li ul li a {
	background: none;
	color: #16408a;
	padding: 13px 20px;
	border-radius: 0;
}
.stellarnav.dark li ul li a:hover {
	background: #f2f2f2;
	color: #ca082a;
}
.stellarnav.dark li.hover-bg ul li:first-child a {
	border-radius: 22px 22px 0px 0px;
}
.stellarnav.dark li.hover-bg ul li:last-child a {
	border-radius: 0 0 22px 22px;
}
.stellarnav > ul > li:hover > ul > li:hover > ul li a {
	padding-left: 40px;
}
.btn-menu {
	text-align: right;
	border-left: 1px solid #FFF;
	line-height: 46px;
	padding-left: 35px;
}
.btn-menu ul {
}
.btn-menu ul li {
	display: inline-block;
	margin-left: 15px;
}
.btn-menu ul li a {
	text-transform: uppercase;
	font-size: 11px;
	color: #FFF;
	background: #16408a;
	border-radius: 30px;
	padding: 10px 20px;
}
.btn-menu ul li a:hover, .btn-menu ul li:last-child a {
	background: #c7092a;
}
.btn-menu ul li:last-child a:hover {
	background: #16408a;
}
.btn-menu ul li a i {
	margin-left: 3px;
}
/*============= Banner =============*/
/*============= Banner =============*/
#banner, #InnerBanner {
	position: relative;
	top: 0;
	width: 100%;
}
#banner .slider .slick-track {
	position: relative;
	background: #000;
}
#banner .slider .slick-track .item {
	position: relative;
	background: #000;
}
#banner .carousel-text {
	padding: 0;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 9
}
#banner .carousel-text h2 {
	font-size: 25px;
	line-height: 30px;
	color: #FFF;
	margin: 0 0 30px;
	padding: 0;
	font-weight: 300;
}
#banner .carousel-text h2 strong {
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	color: #FFF;
}
#banner .slider .slick-track .item img.thumb {
	/*opacity: 0.5;*/
	position: relative;
}
#banner .slider .slick-track .item:after {
	content: '';
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.65);
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}
#banner .slider .slick-dots {
	position: absolute;
	width: 100%;
	bottom: 25px;
}
#banner .slick-dotted.slick-slider {
	margin: 0;
}
#banner .slider * {
	outline: none;
}
#banner .slider .slider-track {
	transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
}
#banner .slider .item {
	height: 100%;
	position: relative;
	z-index: 1;
}
#banner .slider .item img.thumb {
	width: 100%;
	transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
#banner .slider .item.slick-active img.thumb {
	-webkit-transform: scale(1);
	transform: scale(1);
}
#banner .slick-dots li, .Testimonial .slick-dots li {
	width: 10px;
	height: 10px;
}
#banner .slick-dots li button:before, .Testimonial .slick-dots li button:before {
	display: none;
}
#banner .slick-dots li button, .Testimonial .slick-dots li button {
	width: 10px;
	height: 10px;
	background: #FFF;
	padding: 0;
	border: 0;
}
#banner .slick-dots li.slick-active button, .Testimonial .slick-dots li.slick-active button {
	background: #ca082a;
}
#banner .slick-slide a img {
	width: inherit !important;
	display: inline-block;
	margin-left: 35px;
}
#banner .btn {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 9px 49px;
}
#banner .carousel-text .input-group {
	margin-top: 50px;
}
#banner .carousel-text .input-group .form-control {
	font-size: 18px;
	font-weight: 300;
	height: 60px;
	padding: 10px 30px;
	background: #FFF;
	border: 0;
}
#banner .carousel-text .input-group .form-control:focus {
	border: 0;
}
#banner .carousel-text .input-group .form-control::placeholder {
 color: #979696;
 opacity: 1;
}
#banner .carousel-text .input-group .form-control:-ms-input-placeholder {
 color: #979696;
}
#banner .carousel-text .input-group .form-control::-ms-input-placeholder {
 color: #979696;
}
#banner .carousel-text .input-group .btn {
	background: #FFF;
	padding: 0;
	width: 70px;
	height: 50px;
	border-radius: 0 30px 30px 0;
	color: #000;
	font-size: 20px;
}
#banner .carousel-text .input-group .btn:hover {
	color: #ca082a;
}
/*============= Main Content Home =============*/
main.main {
}
/*============= Start Titel =============*/
.sec-title {
	position: relative;
	font-size: 38px;
	line-height: 38px;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 40px;
	text-align: center;
	font-weight: bold;
}
.sec-title span {
	position: relative;
}
.sec-title span:before {
	position: absolute;
	content: '';
	left: -87px;
	top: 20px;
	width: 67px;
	height: 10px;
	background: url(../images/line-l.png) left bottom no-repeat;
}
.sec-title span:after {
	position: absolute;
	content: '';
	right: -87px;
	top: 20px;
	width: 67px;
	height: 10px;
	background: url(../images/line-r.png) left bottom no-repeat;
}
.Small-Title {
	font-size: 20px;
	letter-spacing: 0.7px;
	margin-bottom: 38px;
}
.Small-Title:before {
	bottom: -15px;
}
.sepline {
	margin-top: 30px;
}
.sepline span {
	height: 1px;
	width: 100%;
	background: #d7d7d7;
	display: block;
}
.sepline .btn {
	margin-left: 30px;
}
.parallax {
	background-image: url(../images/main-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
}
.parallax:before {
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(23,21,23,0.72);
	display: block;
	content: "";
	top: 0;
	left: 0;
}

.font-14
{
    font-size: 14px;
}

/*============= End Titel =============*/

.SliderBox {
	margin: 0 0 30px;
}
.boximg {
	overflow: hidden;
	height: 256px;
	width: 100%;
}
.boximg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.SliderBox:hover .boximg img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.SliderBox h3 {
	margin: 15px 0;
	font-size: 14px;
	color: #000;
}
.SliderBox h3 a {
	color: #000;
}
.SliderBox:hover h3 a {
	color: #ca082a;
}
.SliderBox .avtar {
	margin-right: 15px;
	width: 48px;
	height: 48px;
}
.SliderBox a {
	font-size: 16px;
}
.SliderBox p {
	font-size: 15px;
}
.CategoryBox {
	margin: 8px 8px 30px;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3);
}
.CategoryBox .boximg {
	overflow: hidden;
	height: 250px;
	width: 100%;
}
.CategoryBox .boximg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.CategoryBox:hover .boximg img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.CategoryBox h3 {
	margin: 0;
	font-size: 14px;
	color: #000;
	font-weight: normal;
	text-transform: uppercase;
}
.CategoryBox:hover h3 {
	color: #ca082a;
}
.CategoryBox .description {
	padding: 15px;
}
.owl-nav {
	display: none;
}
.owl-carousel:hover .owl-nav {
	display: block;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
	margin: 0;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	background: #ca082a;
	border-radius: 50%;
	color: #FFF;
}
/* .owl-carousel .owl-nav button.owl-prev {
	top: 40%;
	left: -15px;
}
.owl-carousel .owl-nav button.owl-next {
	top: 40%;
	right: -15px;
} */
.owl-category-carousel .owl-nav button.owl-prev {
	top: 40%;
	left: -15px;
}
.owl-category-carousel .owl-nav button.owl-next {
	top: 40%;
	right: -15px;
}
.owl-content-carousel .owl-nav button.owl-prev {
	top: 28%;
	left: -15px;
}
.owl-content-carousel .owl-nav button.owl-next {
	top: 28%;
	right: -15px;
}
.owl-theme .owl-nav {
	margin: 0;
}
/*============= Footer =============*/
footer {
	margin: 60px 0 0;
	padding: 45px 0 0;
	background: #16408a;
}
.footer-logo {
	width: 110px;
}
.footer-mennu {
}
.footer-mennu li {
	display: inline-block;
	border-left: 1px solid #FFF;
	line-height: 18px;
	padding: 0 0 0 45px;
	margin: 0 0 0 38px;
}
.footer-mennu li:first-child {
	margin: 0;
	padding: 0;
	border: 0;
}
.footer-mennu li a {
	color: #FFF;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
}
.footer-mennu li a:hover {
	color: #ca082a;
}
.copy {
	background: #ca082a;
	border-top: 1px solid #FFF;
	padding: 8px 0;
	text-align: center;
	font-size: 12px;
	font-weight: 300;
	color: #FFF;
}
.FooterSocial {
	text-align: center;
	margin: 20px 0;
}
.FooterSocial span {
	font-style: italic;
	font-size: 14px;
	color: #FFF;
	position: relative;
	top: 4px;
}
.FooterSocial li {
	display: inline-block;
	margin: 0 5px;
}
.FooterSocial li a:hover {
	opacity: 0.5;
}
#backtop {
	display: inline-block;
	background-color: #ca082a;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 15px;
	right: 15px;
	transition: background-color .3s, opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
}
#backtop::after {
	content: "\f106";
	font-family: 'Font Awesome 5 Pro';
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	line-height: 40px;
	color: #fff;
}
#backtop:hover {
	cursor: pointer;
	background-color: #16408a;
}
#backtop:active {
	background-color: #16408a;
}
#backtop.show {
	opacity: 1;
	visibility: visible;
}

.breadcrumb {
    position: absolute;
    bottom: 0;
    margin: 0;
    background: #FFF;
    border-radius: 0;
    padding: 9px 25px;
}
.breadcrumb-item a {
    color: #000;
    font-size: 15px;
}
.breadcrumb-item.active:before, .breadcrumb-item.active {
    color: #ca082a;
}
.breadcrumb-item+.breadcrumb-item:before {
    position: relative;
    top: 1px;
    padding-right: 7px;
    padding-left: 7px;
}
.breadcrumb-item.active:before, .breadcrumb-item.active {
    color: #ca082a;
}

.form-control-label
{
    font-weight: bold !important;
}

.normal-title
{
    font-size: 16px;
    font-weight: bold;
}

.label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
  }
  a.label:hover,
  a.label:focus {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
  }
  .label:empty {
	display: none;
  }
  .btn .label {
	position: relative;
	top: -1px;
  }
  .label-default {
	background-color: #777;
  }
  .label-default[href]:hover,
  .label-default[href]:focus {
	background-color: #5e5e5e;
  }
  .label-primary {
	background-color: #337ab7;
  }
  .label-primary[href]:hover,
  .label-primary[href]:focus {
	background-color: #286090;
  }
  .label-success {
	background-color: #5cb85c;
  }
  .label-success[href]:hover,
  .label-success[href]:focus {
	background-color: #449d44;
  }
  .label-info {
	background-color: #5bc0de;
  }
  .label-info[href]:hover,
  .label-info[href]:focus {
	background-color: #31b0d5;
  }
  .label-warning {
	background-color: #f0ad4e;
  }
  .label-warning[href]:hover,
  .label-warning[href]:focus {
	background-color: #ec971f;
  }
  .label-danger {
	background-color: #d9534f;
  }
  .label-danger[href]:hover,
  .label-danger[href]:focus {
	background-color: #c9302c;
  }